@{
  Layout = "_Layout";
}

<h1>EUA CLARIE, Welcome to your salon database</h1>

<p>@Html.ActionLink("See your Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See your Clients", "Index", "Clients")</p>